<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <link href="~/Content/site.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <header>
       
        <nav class="navbar-fixed-top navbar-custom" role="navigation">

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <a asp-controller="Pastry" asp-action="List">All Pastries</a>
                    </li>
                    @await Component.InvokeAsync("CategoryMenu")
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @await Component.InvokeAsync("ShoppingCartSummary")
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="col-md-12" style="margin-bottom: 100px;">
            @RenderBody()</div>
    </main>
    <footer>
        <div>2021 - <span class="glyphicon glyphicon-copyright-mark"></span>PastryShop</div>
        <div><span class="glyphicon glyphicon-envelope"/>&nbsp;<span>dshubhangid@gmail.com</span></div>
    </footer>
</body>
</html>
